*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, footer{
    margin-left: 175px;
    padding: 25px 5%;
}
body{
    background-color: #fff ;
}
/*Nav and nav-related items*/
    nav, nav *{
        margin-left: 0;
    }
    nav{
        position: fixed;
        display: grid;
        grid-template-rows: 50% 2fr 1fr;
        justify-content: space-between;
        place-items: center;
        left: 0px;

        background-color: black;
        color: white;
        height: 100vh;
        width: 175px;
        text-align: center;
        overflow: hidden;
    }
    .navlinks{
        padding: 0
    }
    /*The menu*/
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0
    }
    nav ul li a, nav a{
        color: #fff;
        width: 175px;
        display: block;
        padding: 10px 0;
    }
    /*The section for the profile - should have log in/out and a link to profile page.*/
    #profilesection{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
/*the log in / register forms*/
    form{
        display: flex;
        flex-direction: column;
    }
    form *{
        padding: 1rem;
    }
/*fonts*/
    /*font families*/
    #epictext, h1, nav, nav li a, .logbutton{
        font-family: 'League Gothic';
    }
    h2, h3, h4, h5, p, a, button, form, form input{
        font-family: 'Inter';
    }
    h6, .small{
        font-family: 'IBM Plex Mono';
    }
    /*font sizes*/
    h1{
        text-transform: uppercase;
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
    h4, nav a, nav li{
        font-size: 1.7rem;
    }
    h5, .logbutton{
        font-size: 1.3rem;
    }
    h6{
        font-style: italic;
        font-size: 1rem;
    }
    p, form{
        font-weight: 400;
        font-size: 1.2rem;
    }
    .small{
        font-weight: light;
        font-size: .8rem;
    }
    /*special text - logo, lists etc*/
    .nodeco, .logbutton, nav a{
        text-decoration: none;
        list-style: none;
    }
    #thezine{
        text-align: left;
        font-size: 90px;
        line-height: 175px;
        letter-spacing: 2px;
        text-decoration: none;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        color: white;
        text-transform: uppercase;
        transform: rotate(180deg) scaleX(3);
    }
/*buttons or links styled to look like buttons*/
.logbutton{
    display: block;
    aspect-ratio: 3/1;
    width: 125px;
    background-color: #fff;
    color: black;
    padding: 10px;
}
#submitLogin{
    
}